* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

html {
    background-color: rgb(0, 1, 36);
    height: 100%;
}

.background {
    z-index: -99;
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(168deg, rgba(0, 1, 36, 1) 24%, rgba(9, 9, 121, 1) 72%, rgb(127, 5, 152) 100%);
}

body {
    min-height: 100%;
}

h1,
h2,
p {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
    height: 20vh;
}

header div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
}

hr {
    width: calc(100% + 1.5vw);
    border: calc(1px + (0.5*(100vw/1000))) solid white;
}

.content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content div {
    display: inline-block
}

.blackhole-outer {
    z-index: -99;
    position: fixed;
    height: calc(60vh + (100vw*0.6));
    width: calc(60vw + (100vh*0.6));
}

.blackhole-inner {
    position: relative;
    top: -40%;
    left: -35%;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 12, 106);
    background: radial-gradient(circle, rgb(8, 0, 78) 23%, rgb(97, 22, 167) 35%, rgba(0, 0, 0, 0) 40%);
}

img {
    width: 5vw;
}


html {
    font-size: calc(0px + (4/100)*100vw);
}

h1 {
    font-size: calc(0px + (8/100)*100vw);
}

h2 {
    font-size: calc(0px + (5/100)*100vw);
}

@media (orientation:landscape) {
    html {
        font-size: calc(0px + (4/100)*100vh);
    }

    h1 {
        font-size: calc(0px + (8/100)*100vh);
    }

    h2 {
        font-size: calc(0px + (5/100)*100vh);
    }

    img {
        width: 5vh;
    }
}