*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
html {
    background-color: rgb(0,1,36);
    background: linear-gradient(168deg, rgba(0,1,36,1) 24%, rgba(9,9,121,1) 72%, rgb(127, 5, 152) 100%);
    min-height: 100vh;
}
body{
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}
h1,h2,p{
    text-align: center;
    letter-spacing: 0.5rem;
}
h1,h2{
    margin: auto;
    font-size: 5rem;
}
hr{
    margin: auto;
    width: 60vw;
    max-width: 500px;
}
.content{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blackhole-outer{
    z-index: -99;
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.blackhole-inner{
    position: relative;
    top: -40vh;
    left: -90vh;
    height: 100%;
    width: 100%;
    background-color: rgb(0,12,106);
    background: radial-gradient(circle, rgb(8, 0, 78) 23%, rgb(97, 22, 167) 35%, rgba(0,0,0,0) 40%);
}

@media only screen and (max-width: 1300px) {
    .blackhole-inner{
        left: -50vh;
        height: 130%;
    }
}
@media only screen and (max-width: 700px) {
        .blackhole-inner{
            left: -30vh;
            height: 130%;
        }
}
@media only screen and (max-width: 500px) {
    h1{
        font-size: 2.5rem;
    }
    h2,p{
        font-size: 1rem;
    }
    .blackhole-inner{
        height: -20vh;
        left: -15vh;
        height: 130%;
    }
    .blackhole-outer{
        height: 80vh;
        width: 100vw;
    }
}
